<!---Seccion del encabezado-->
<h1 class="d-flex justify-content-center">
    {{ mensaje }}    
</h1 >
<h2 class="d-flex justify-content-center">Estatal</h2>

<!---Seccion de cards-->
<div id="contenedor-detarjetas" class="d-flex justify-content-center">

    <!---Card de Banca Multiple-->
    <article class="contenedor-de-seccion" style="width: 500px; height: 415px;">
        <figure class="img-container">
            <img src="../../assets/banca-multiple.jpeg" alt="Imagen base de productos">
        </figure>

        <div class="detail">
            <h5 class="section-name">Banca Multiple</h5>
            <p class="description desc-banca">
                Sector de Banca Múltiple de México en su totalidad
            </p>
            <a  [routerLink]="[rutaDeBancaMultiple]" routerLinkActive="active" 
            class="ver_mas">Ver Más</a>
        </div>
    </article>

    <!---Card de Pr Sector-->
    <article class="contenedor-de-seccion" style="width: 500px; height: 415px;">
        <figure class="img-container">
            <img src="../../assets/por-sector.jpeg" alt="Imagen base de productos">
        </figure>

        <div class="detail">
            <h5 class="section-name">Por Sector</h5>
            <p class="description">
                Instituciones de Banca Múltiple por la composición de su cartera de crédito.
            </p>
            <a [routerLink]="[rutaDePorSector]" routerLinkActive="active" class="ver_mas">Ver Más</a>
        </div>
    </article>

</div>