<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active">
            <img src="../assets/home_house_13984.png" width="25px" height="25px">
        </a>
    </li>

    <li class="nav-item">
        <div class="dropdown">

            <a class="nav-link  dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="true">CNBV</a>

            <div class="dropdown-menu">
                <a href="" class="dropdown-item" [routerLink]="['/home/cnbv/estatal']"
                    routerLinkActive="active">Estatal</a>
                <a href="" class="dropdown-item" [routerLink]="['/home/cnbv/nacional']"
                    routerLinkActive="active">Nacional</a>
            </div>
        </div>

    </li>

    <li class="nav-item">
        <div class="dropdown">

            <a class="nav-link  dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="true">Banxico</a>

            <div class="dropdown-menu">
                <a href="" class="dropdown-item" [routerLink]="['/home/banxico/estatal']"
                    routerLinkActive="active">Estatal</a>
                <a href="" class="dropdown-item" [routerLink]="['/home/banxico/nacional']"
                    routerLinkActive="active">Nacional</a>
            </div>
        </div>
    </li>
</ul>
<div class="main d-flex justify-content-center">
    <img class="dataImg" src="https://media.giphy.com/media/3oEduFqMQeMRGkNtMQ/giphy.gif" alt="">
    <h2 class="d-flex justify-content-center" id="appName">DataStream</h2>
</div>
<router-outlet></router-outlet>

<!-- footer -->
<footer>
    <p id="footer" class="d-flex justify-content-center">Hackaton BBVA 2020, Equipo All in One, Proyecto DastaStream.
    </p>
</footer>