#appName{
    padding: 35px 10px;
    font-size: x-large;
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    left: 40px;

}

.nav{    
    background: linear-gradient(10deg, #1f3c88, white) ;
}


.dropdown a{
    color: #ceddef;
}

.dropdown-menu a{
    color: #1f3c88;
}

.dataImg {
    max-width: 50px;
    max-height: 50px;
}
