<div class="d-flex justify-content-center">
    <div class=" spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

<app-widget class="d-flex justify-content-center" id="widget"
    [url]="'http://datastream-1293247667.us-east-2.elb.amazonaws.com:8050/apps/app_ts_mac'"></app-widget>