#contenedor-detarjetas{    
    padding: 50px;
}

.contenedor-de-seccion{
    margin: 30px;
    width: 400px;
    flex-shrink: 0;
    border-radius: 10px;
    overflow: hidden;
    background: #ceddef;
    box-shadow: 0 0 4px 0 #888888;
}

.contenedor-de-seccion img{
    width: 500px;
    height: 270px;
    object-fit: fill;
}

.img-container{
    width: 500px;
}

.detail{
    margin: 20px 40px;
    margin-top: -25px;
    
    position: relative;
    padding: 20px;
    text-align: center;
}

.description{
    text-align: left;
}

.ver_mas{
    color: #424874;
    border: 1px solid;
    padding: 5px 20px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

.ver_mas:hover{
    color:  #070d59;
}

.description{
    font-size: 15px;
}

.desc-banca{
    padding-top: 15px;
    padding-bottom: 5px;
}