<!---Seccion del encabezado-->
<h1 class="d-flex justify-content-center">
    {{ mensaje }}    
</h1 >
<h2 class="d-flex justify-content-center">{{ mensaje2 }}</h2>
<h3 class="d-flex justify-content-center">Por Sector</h3>
<!---Seccion de cards-->
<div id="contenedor-detarjetas" class="d-flex justify-content-center">

    <!---Card de Banca Multiple-->
    <article class="contenedor-de-seccion" style="width: 500px; height: 415px;">
        <figure class="img-container">
            <img src="../../assets/deCaptacion.jpg" alt="Imagen base de productos">
        </figure>

        <div class="detail">
            <h5 class="section-name">Cifras De Captación</h5>
            <p class="description-captacion">
                Cifras de los servicios que desempeñan las instituciones de la banca múltiple para facilitar el funcionamiento del sistema financiero.
            </p>
            <a  [routerLink]="[rutaDeCaptacion]" routerLinkActive="active" 
            class="ver_mas">Ver Más</a>
        </div>
    </article>

    <!---Card de Pr Sector-->
    <article class="contenedor-de-seccion" style="width: 500px; height: 415px;">
        <figure class="img-container">
            <img src="../../assets/operativas.jpg" alt="Imagen base de productos">
        </figure>

        <div class="detail">
            <h5 class="section-name">Cifras Operativas</h5>
            <p class="description">
                Cifras de que reflejan la capacidades físicas a las que operan las instituciones de la banca múltiple.
            </p>
            <a [routerLink]="[rutaDeOperativas]" routerLinkActive="active" class="ver_mas">Ver Más</a>
        </div>
    </article>

</div>