<h2 class="d-flex justify-content-center">All In One</h2>
<h1 class="d-flex justify-content-center">Bienvenidos al Home</h1>
<app-widget class="d-flex justify-content-center" id="widget"
[url]="['http://datastream-1293247667.us-east-2.elb.amazonaws.com:8050/apps/app_ts_mac']">    
</app-widget>


